.tableComp {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.site-header {
  font-family: monospace;
  font-size: 60px;
  margin-bottom: 40px;
}

.listitems {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: right;
}

.inputs {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  color: black;
}

.list {
  color: black;
  font-size: 18px;
}

.listItem:hover {
  cursor: pointer;
  color: rgb(17, 0, 255);
}

table {

  border: 4px solid black;
  align-items: right;
}


.tableBorder td, .tableBorder th {
  width: 60px;
  height: 60px;
  text-align: center;
  border: 3px solid rgb(0, 0, 0);
}

#Akram {
  background-color: rgb(229, 144, 240);
}

.tableBorder td:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(20, 13, 128);
}

.tdStyle {
  width: 60px;
  height: 60px;
  text-align: center;
  border: 3px solid rgb(0, 0, 0);
}

#blankBox {
  width: 60px;
  height: 60px;
  text-align: center;
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(192, 240, 217)
}